<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" href="../styles/pages.css">
  <script src="../scripts/signup_page.js" defer></script>

</head>

<body>
  <main id="main_holder">
    <h1 id="_holder">Signup</h1>
    <div id="signup_error_holder">
      <p id="signup_error_msg">User already exists <span id="error-msg-second-line">and/or password</span></p>
    </div>
   
    <form id="signup_form" method="POST" action="/signup">
      <ul>
        <li>
          <label for="username-field">Username:</label>
          <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username" required>
        </li>
        <li>
          <label for="password-field">Password:</label>
          <input type="password" name="password" id="password-field" class="signup-form-field" placeholder="Password" required>
        </li>
        <li>
          <input type="submit" value="submit" id="signup-form-submit">
        </li>
      </ul>
    </form>
  </main>
</body>

</html>
