body
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
}

#description
{
  width: 90vw;
  height: 100%;
  background-color: #0073e6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#paragraph
{
  padding: 0 20px 60px 20px;
}

#main_holder
{
  width: 50%;
  height: 100%;
  padding: 0 20px 0 20px;
}

#login_holder
{
  font-size: 40px;
  padding-top: 110px;
}
/*
#login_form
{
  justify-items: center;
  align-items: center;
}
*/
.login-form-field
{
  border: 1px solid gray;
  border-radius: 5px;
  width: 80%;
  height: 30px;
  font-size: 17px;
}

.login-form-field::placeholder
{
  color: #3a3a3a;
}

#username-field
{
  margin-bottom: 5px;
}

#password-field
{
  margin-top: 5px;
  margin-bottom: 10px;
}

#login-form-submit
{
  margin-top: 5px;
  margin-bottom: 20px;
  height: 30px;
  font-size: 15px;
}

#create-account-page a
{
  text-decoration: none;
  color: #0073e6;
}

li
{
  list-style-type: none;
}

#login-form-submit 
{
  width: 80%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #0073e6;
  cursor: pointer;
  outline: none;
}

#login_error_holder
{
  display: grid;
  /*
  justify-items: center;
  align-items: center;
  */
}

#login_error_msg
{
  width: 70%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line
{
  display: block;
}
